@charset "utf-8";
body{
	background: #EFEFEF;
}
#home_header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFD600;
}
#home_header>.home_top{
	width: 100%;
	height: 10.8rem;
	display:-webkit-flex;
	display: flex;
	padding-top: 2.1rem;
}
#home_header>.home_top>.home_top_portrait{
	width: 28%;
	height: 6.5rem;
	text-align: center;
}
#home_header>.home_top>.home_top_portrait>img{
	height: 100%;
}
#home_header>.home_top>.home_top_info{
	width: 60%;
	height: 6.5rem;
}
#home_header>.home_top>.home_top_info>p:first-child{
	width: 100%;
	height: 1.6rem;
	font-size: 1.5rem;
	line-height: 1.6rem;
	font-weight: bold;
	color: white;
	margin: 0.75rem 0;
}
#home_header>.home_top>.home_top_info>p:last-child{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	padding-left: 3rem;
	background: url(../../img/hom_top2.png) no-repeat;
	background-size:auto 100%;
}
#home_header>.home_top>.home_top_info>p:last-child>span{
	color: #e64f1a;
}
#home_header>.home_top>.home_top_other{
	width: 12%;
	height: 6.5rem;
	line-height: 7.5rem;
}
#home_header>.home_top>.home_top_other>span{
	display: inline-block;
	width: 1rem;
	height: 2rem;
	background: url(../../img/home_top3.png) no-repeat;
	background-size: 100% 100%;
}
.home_fixed{
	display:-webkit-flex;
	display: flex;
	width: 100%;
	height: 3.75rem;
}
.home_fixed>div{
	-webkit-flex: 1;
	flex: 1;
	background: #F3C800;
	text-align: center;
	line-height: 3.75rem;
}
.home_fixed>div>span{
	display: inline-block;
	color: white;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.25rem;
	padding-left: 3rem;
}
.home_fixed>div:first-child>span{
	background: url(../../img/home_top4.png) no-repeat left center;
	background-size:auto 2rem;
}
.home_fixed>div:last-child>span{
	background: url(../../img/home_top5.png) no-repeat left center;
	background-size:auto 2rem;
}
.home_fixed>div:last-child::before{
	content: "";
	border-left:1px solid white;
	height: 2.2rem;
	margin-top: .7rem;
	float: left;
}
/*我的订单*/
#Order{
	width: 100%;
	height: 5.3rem;
	padding: 1.5rem 2.6rem 1.5rem 1.6rem;
	margin-top: 15.6rem;
	background: white;
	font-size: 1.5rem;
	line-height: 2.3rem;
	border-bottom:  1px solid #EFEFEF;
}
#Order>span{
	float: right;
	color: #999;
}
#Order>span>span{
	display: inline-block;
	width: 1rem;
	height: 1.5rem;
	margin-left: 1rem;
	background: url(../../img/home_main1.png) no-repeat left center;
	background-size: auto 1.2rem;
}
/*其他分类*/
#other_type{
	width: 100%;
	height: 7.6rem;
	display:-webkit-flex;
	display: flex;
	background: white;
	margin-bottom: 1rem;
}
#other_type a{
	height: 100%;
	padding-top: 4.3rem;
	-webkit-flex: 1;
	flex: 1;
}
#other_type a:nth-child(1){
	background: url(../../img/home_other1.png) no-repeat center 2rem;
	background-size: auto 25%; 
}
#other_type a:nth-child(2){
	background: url(../../img/home_other2.png) no-repeat center 2rem;
	background-size: auto 25%; 
}
#other_type a:nth-child(3){
	background: url(../../img/home_other3.png) no-repeat center 2rem;
	background-size: auto 25%; 
}
#other_type a:nth-child(4){
	background: url(../../img/home_other4.png) no-repeat center 2rem;
	background-size: auto 25%; 
}
#other_type div>p{
	height: 3.3rem;
	line-height: 3.3rem;
	font-size: 1.5rem;
	text-align: center;
}
/*工具分类*/
#main_type{
	width: 100%;
	height: 21.3rem;
	margin-bottom: 3.25rem;
}
#main_type>.first_row{
	width: 100%;
	height: 10.8rem;
	border: 1px solid #EFEFEF;
	display:-webkit-flex;
	display: flex;
	background: white;
}
#main_type>.first_row>a{
	-webkit-flex: 1;
	flex: 1;
	padding: 6.5rem 0 2.5rem 0;
}
#main_type>.first_row>div{
	-webkit-flex: 1;
	flex: 1;
	padding: 6.5rem 0 2.5rem 0;
}
#main_type>.first_row a{
	background: url(../../img/main_type1.png) no-repeat center 2rem;
	background-size: 3.25rem;
}
#main_type>.first_row>div:nth-child(2){
	background: url(../../img/main_type2.png) no-repeat center 2rem;
	background-size: 3.25rem;
}
#main_type>.first_row>div:nth-child(3){
	background: url(../../img/main_type3.png) no-repeat center 2rem;
	background-size: 3.25rem;
}
#main_type>.first_row>div:nth-child(4){
	background: url(../../img/main_type4.png) no-repeat center 2rem;
	background-size: 3.25rem;
}
#main_type>.first_row div>p{
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 1.5rem;
	text-align: center;
}
#main_type>.last_row{
	width: 100%;
	height: 10.8rem;
	background: white;
}
#main_type>.last_row>div{
	width: 25%;
	padding: 6.5rem 0 2.5rem 0;
	background: url(../../img/main_type5.png) no-repeat center 2rem;
	background-size: 3.25rem;
}
#main_type>.last_row>div>p{
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 1.5rem;
	text-align: center;
}
/*退出*/
#sign_Out{
	width: 100%;
	height: 4.8rem;
	background: white;
	text-align: center;
	line-height: 4.8rem;
	font-size: 1.5rem;
	margin-bottom: 6.9rem;
}
